
<link rel="stylesheet" href="~/css/style.css" type="text/css" />
<h2>Welcome to Hogwarts School of Witchcraft and Code</h2>
<p>To view the current students, please follow this <a asp-controller="Register" asp-action="Index">link</a>.</p>

